<div expanded *ngIf="user">
  <h3>{{ user.displayName }}</h3>
  <img *ngIf="user.image" src="{{ user.image }}" alt="{{ user.displayName }}" />
  <div *ngIf="isMe()">
    <button
      mat-raised-button
      color="accent"
      class="full-width"
      (click)="logout()"
    >
      Logout
    </button>
    <button
      mat-raised-button
      color="warn"
      class="full-width"
      (click)="delete()"
    >
      Delete
    </button>
  </div>
</div>
