<mat-expansion-panel
  expanded
  *ngIf="
    conversationService.conversations &&
    conversationService.conversations.length
  "
>
  <mat-expansion-panel-header>
    <mat-panel-title>
      <h3>Conversations</h3>
    </mat-panel-title>
  </mat-expansion-panel-header>

  <mat-action-list>
    <mat-list-item
      *ngFor="let conversation of conversationService.conversations"
      (click)="selectConversation(conversation)"
      [ngClass]="{
        selected: conversation === conversationService.currentConversation
      }"
    >
      <span
        [matBadge]="conversation.unreadMessage"
        [matBadgeHidden]="conversation.unreadMessage == 0"
      >
      </span>
      <mat-icon
        *ngIf="conversation.image == null || conversation.image.length == 0"
        matListIcon
        >message</mat-icon
      >
      <img
        *ngIf="conversation.image"
        matListIcon
        src="{{ conversation.image }}"
        alt="{{ conversation.name }}"
      />
      <h3 matLine>
        {{ conversation.name }}
      </h3>
    </mat-list-item>
  </mat-action-list>
</mat-expansion-panel>
