<div class="container">
  <div
    class="conversation-header"
    (click)="displayConversation()"
    *ngIf="conversationService.currentConversation"
  >
    <mat-toolbar color="primary">
      <mat-toolbar-row>
        <img
          *ngIf="conversationService.currentConversation.image"
          matListIcon
          src="{{ conversationService.currentConversation.image }}"
          alt="{{ conversationService.currentConversation.name }}"
        />
        <span>{{ conversationService.currentConversation.name }}</span>
      </mat-toolbar-row>
    </mat-toolbar>
    <p>
      <small
        *ngFor="
          let member of membersIdToUsers(
            conversationService.currentConversation.members
          )
        "
      >
        {{ member.displayName }}
      </small>
    </p>
  </div>
  <div #messageHolder class="conversation-main">
    <div *ngIf="conversationService.currentConversation">
      <div *ngIf="conversationService.currentConversation.messages.length == 0">
        <p>No message yet</p>
      </div>
      <div
        *ngFor="let message of conversationService.currentConversation.messages"
      >
        <div
          [className]="
            isMe(message.senderId) ? 'message-orange' : 'message-blue'
          "
        >
          <span class="message-content">{{ message.content }}</span>
          <span class="message-timestamp-right">
            <small>
              <b>
                <span>
                  {{ getDisplayName(message.senderId) }}
                </span>
              </b>
              - <i>{{ message.date | date: "medium" }}</i>
            </small>
          </span>
        </div>
      </div>
    </div>
  </div>
  <mat-divider></mat-divider>
  <div
    class="conversation-footer"
    *ngIf="conversationService.currentConversation"
  >
    <app-send-message></app-send-message>
  </div>
</div>
