<form class="form-div">
  <mat-form-field class="full-width">
    <input matInput placeholder="name your conversation" [formControl]="nameControl" />
  </mat-form-field>
  <button mat-raised-button color="primary" class="full-width" (click)="createConversation()">
    Create conversation
  </button>
</form>
