<div *ngIf="conversation">
  <h3>{{ conversation.name }}</h3>
  <img
    *ngIf="conversation.image"
    src="{{ conversation.image }}"
    alt="{{ conversation.name }}"
  />

  <mat-form-field class="full-width">
    <input matInput placeholder="update name" [formControl]="nameControl" />
  </mat-form-field>
  <mat-form-field class="full-width">
    <input matInput placeholder="update image" [formControl]="imageControl" />
  </mat-form-field>
  <button
    mat-raised-button
    color="primary"
    class="full-width"
    (click)="update()"
  >
    Update
  </button>

  <button
    mat-raised-button
    color="warn"
    class="full-width"
    (click)="quitConversation()"
  >
    Quit
  </button>
</div>
