<mat-expansion-panel expanded *ngIf="userService.currentUser">
  <mat-expansion-panel-header>
    <mat-panel-title>
      <h3>Users</h3>
    </mat-panel-title>
  </mat-expansion-panel-header>

  <mat-selection-list #selectedUsers>
    <mat-list-option *ngFor="let user of getOtherUsers()" [value]="user">
      <mat-icon *ngIf="user.image == null || user.image.length == 0" matListIcon
        >face</mat-icon
      >
      <img
        matListIcon
        *ngIf="user.image"
        src="{{ user.image }}"
        class="img-circle"
      />
      <h3 matLine>{{ user.displayName }}</h3>
    </mat-list-option>
  </mat-selection-list>
  <app-create-conversation
    *ngIf="selectedUsers.selectedOptions.selected.length"
    [users]="selectedUsers.selectedOptions.selected"
  ></app-create-conversation>
</mat-expansion-panel>
