<form (submit)="sendMessage()">
  <mat-form-field class="full-width">
    <input
      type="text"
      matInput
      placeholder="Send a message"
      [formControl]="messageControl"
      #contentInput
    />
  </mat-form-field>
  <button mat-stroked-button type="submit" class="full-width">
    <mat-icon matListIcon>send</mat-icon>
    Send message
  </button>
</form>
