<mat-toolbar color="primary">
  <mat-toolbar-row>
    <mat-icon
      aria-hidden="false"
      aria-label="menu"
      (click)="menuDrawer.toggle()"
      >menu</mat-icon
    >
    <span class="spacer"></span>
    <span>Chat po T</span>
    <span class="spacer"></span>
    <img
      *ngIf="userService.currentUser && userService.currentUser.image"
      src="{{ userService.currentUser.image }}"
      (click)="displayUser()"
    />
  </mat-toolbar-row>
</mat-toolbar>
<main style="height: 90%;">
  <div style="height: 100%;">
    <mat-sidenav-container>
      <mat-sidenav
        #menuDrawer
        [mode]="tabletQuery.matches ? 'over' : 'side'"
        [ngClass]="getSidenavClass()"
      >
        <app-conversations></app-conversations>
        <app-users></app-users>
      </mat-sidenav>
      <mat-sidenav-content>
        <app-conversation></app-conversation>
      </mat-sidenav-content>
    </mat-sidenav-container>
  </div>
</main>
