mat-sidenav-container {
  width: 100%;
  height: 100%;
  display: block;
}

.sidenav-mobile {
  width: 100%;
}

.sidenav-tablet {
  width: 50%;
}

.sidenav {
  width: 25%;
}

.spacer {
  flex: 1 1 auto;
}

img {
  max-height: 100%;
}
